.container {
  width: 800px;
  height: 400px;
  background-color: #fff;
  margin-top: 40px;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #000;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #000;
  width: 100px;
}
